<div class="categories-box categoriesbox">
  <!-- Categories Box -->
  <ul class="categories-list list">

    <li class="categories-item item -agende_uma_visita">
      <a href="https://maplebear.com.br" target="_blank" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/categories-box/agende_uma_visita.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="Agende uma visita"
        >
        <span class="text">Agende uma visita</span>
      </a>
    </li>
    <!--
    <li class="categories-item item -blog">
      <a href="https://content.maplebear.com.br/" target="_blank" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/categories-box/blog.png'); ?>"
          class="img"
          width="172" 
          height="172"
          alt="Blog"
        >
        <span class="text">Blog</span>
      </a>
    </li> -->

    <li class="categories-item item -slm">
      <a href="/material-slm" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/categories-box/slm.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="SLM"
        >
        <span class="text">SLM</span>
      </a>
    </li>

    <li class="categories-item item -uniformes">
      <a href="/uniformes" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/categories-box/uniformes.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="Uniformes"
        >
        <span class="text">Uniformes</span>
      </a>
    </li>

    <li class="categories-item item -livros">
      <a href="/livros" class="categories-link link">
        <img  is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/categories-box/livros.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="Livros"
        >
        <span class="text">Livros</span>
      </a>
    </li>

    <li class="categories-item item -covid">
      <a href="/protecao-contra-o-covid-19" class="categories-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/categories-box/covid.png'); ?>"
          class="img"
          width="172" 
          height="172" 
          alt="Proteção contra o COVID-19"
        >
        <span class="text">Proteção contra o COVID-19</span>
      </a>
    </li>

  </ul>
</div>