<!-- Bloco de Componentes / Descricao da pagina de Produtos-->
<div class="componentes-descricao">

    <!-- Titulo -->
    <div class="title">Componentes</div>

      <div class="grid">
          <div class="conteudo">

              <!-- Nome do produto -->
              <div class="nome-produto">Toddler</div>

              <!-- Texto da descricao -->
              <div class="texto">
                1. Home & School Activity File Folder Pasta organizadora para armazenamento de atividades pelos pais.<br>
                2. Home & School Activity Suitcase Maleta para o aluno levar a atividade semanal.<br>
                3. Parents Handbook Manual de orientação para os pais. <br>
                4. Home & School Activities Atividades para destaque pelo professor e envio semanal para casa.
              </div>

          </div>

          <!-- Imagem da descricao -->
          <img src="{{media url=&quot;wysiwyg/exemplo-de-slms.jpg&quot;}}" alt="" />

    </div>
</div>


<!-- Bloco - Assista ao video -->
<div class="componentes-video">

    <!-- Titulo -->
    <div class="title">Assista ao vídeo</div>

    <!-- video  /  width="906" height="502"-->
    <iframe width="906" height="502" src="https://www.youtube.com/embed/fVr1u5kMaPA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>


