.login-container{
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  margin: 0 -10px;

  .block {
    padding: 46px 30px;
    border-radius: 64px;
    color: var(--brightness);
    font-size: 14px;
    font-weight: var(--medium);
    flex: 1 1 31%;
    margin: 0 10px 16px !important;

    @media (max-width: 767px) {
      flex: 1 1 100%;
    }

    .block-title {
      font-size: 26px;
      font-weight: var(--bold);
      color: var(--brightness);
      border: 0;
      padding-bottom: 0;
      margin-bottom: 5px;
      text-align: left;
    }
  }

  .block-login-school {
    background: var(--gradient-dark);
    text-align: center;
    
    > .image {
      width: 60%;
      margin: 3rem auto 0 !important;
    }

    .actions-toolbar {
      width: 100%;
      margin-top: 30px;

      .action {
        height: 64px;
        border-radius: 64px;
        border: 0;
        font-size: 20px;
        font-weight: var(--bold);
        color: var(--brightness);
        max-width: 215px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        float: none;
        background: var(--gradient-light-hover);
        background-size: 205% auto;
        background-position: center left;

        &:hover {
          background-position: center right;
        }
      }
    }
  }

  .block-customer-login {
    background: var(--gradient-light);

    @media (max-width: 1100px) {
      order: 3;
      flex: 1 1 100%;
    }

    @media (max-width: 767px) {
      order: initial;
    }

    .fieldset {
      position: relative;

      @media (max-width: 1100px) {
        width: 100%;
      }
    }
    .field.password {
      max-width: ~"calc(100% - 36%)";
      float: left;
      margin-bottom: 0;
      min-width: 160px;
      width: 100%;

      @media (max-width: 767px) {
        max-width: 100%;
        float: none;
      }
    }
    .primary {
      float: right;
      margin-top: 14px;
      width: 34%;

      @media (max-width: 767px) {
        float: none;
        width: 100%;
      }

      .action {
        margin-right: 0;

        @media (max-width: 767px) {
          width: 100% !important;
        }
      }
    }
    .secondary {
      float: left;
      width: 100%;
      text-align: left;
      margin-bottom: 2rem;
    }
    #remember-me-box {
      position: absolute;
      bottom: 11px;
      left: 0;
    }
  }
  .block-new-customer {
    background: var(--gradient-dark);

    .actions-toolbar > .primary {
      width: 100%;

      .action:last-child {
        height: 64px;
        border-radius: 64px;
        border: 0;
        font-size: 20px;
        font-weight: var(--bold);
        color: var(--brightness);
        max-width: 215px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        float: none;
        background: var(--gradient-light-hover);
        background-size: 205% auto;
        background-position: center left;

        &:hover {
          background-position: center right;
        }
      }
    }
  }

  .form-login {
    color: var(--brightness);
    font-size: 14px;
    font-weight: var(--medium);
    display: flex;
    flex-flow: row wrap;
  }
  .fieldset {
    & > .field > .control {
      width: 100%;
  
      .input-text {
        height: 64px;
        border-radius: 64px;
        border: 0;
        padding: 0 32px;
        font-size: 16px;
        font-weight: var(--medium);
        color: var(--highlight);
      }
    }

    &::after {
      color: var(--brightness);
    }
  }
  .actions-toolbar > .primary .action:last-child {
    height: 64px;
    border-radius: 64px;
    border: 0;
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--brightness);
    background: var(--gradient-dark-hover);
    background-size: 205% auto;
    background-position: center left;
    width: 100%;

    &:hover {
      background-position: center right;
    }
  }

  .action.remind {
    color: var(--brightness);
    opacity: 0.45;
  }
}

.customer-account-login,
.customer-account-create {
  .page-title-wrapper {
    display: none;
  }
}

/* Page Create Account */
.form.create.account {
  background: var(--gradient-light);
  padding: 46px 68px;
  border-radius: 95px;
  color: var(--brightness);
  font-size: 14px;
  font-weight: var(--medium);
  width: 100%;
  // display: flex;
  // width: 100%;
  // align-items: stretch;
  // flex-flow: row wrap;

  @media (max-width: 992px) {
    padding: 46px 30px;
    border-radius: 64px;
  }

  &::before {
    content: "Cadastro";
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 35px;
    font-size: 26px;
    font-weight: var(--bold);
    margin-bottom: 1rem;
    display: block;
  }

  > .fieldset {
    flex: 1 1 45%;
    margin: 0 0 40px;

    @media (max-width: 992px) {
      flex: 1 1 100%;
      margin: 0;
    }

    > .legend {
      border: 0;
      padding: 0;
      margin: 0 0 20px;

      > span {
        font-size: 20px;
      }
    }

    &.create {
      @media (max-width: 992px) {
        margin-bottom: 3rem;
      }
    }
  }

  .field {
    div[id*="registry-"] {
      label {
        display: block;
        margin-bottom: 10px;

        &:not(:first-child) {
          margin-top: 16px;
        }
      }
    }
  }

  input[type="text"],
  .input-text {
    height: 50px;
    border-radius: 50px;
    border: 0;
    padding: 0 32px;
    font-size: 16px;
    font-weight: var(--medium);
    color: var(--highlight);

    &::-webkit-input-placeholder {
      color: var(--lightness) !important;
    }
  }

  select {
    height: 50px;
    border-radius: 50px;
    border: 0;
    padding: 0 32px;
    font-size: 16px;
    font-weight: var(--medium);
    color: var(--highlight);
  }

  .password-strength-meter {
    background-color: #a09999;

    &::before {
      background-color: #a09999;
    }
  }

  #password-strength-meter-container {
    margin-top: 4px;
  }

  .password-strength-meter {
    border-radius: 17px;
    padding: 0 32px;

    &::before {
      border-radius: 17px;
    }
  }

  .actions-toolbar {
    flex: 1 1 100%;
    margin-top: 30px;

    .primary {
      width: 100%;
  
      .action:last-child {
        height: 64px;
        border-radius: 64px;
        border: 0;
        font-size: 20px;
        font-weight: var(--bold);
        color: var(--brightness);
        max-width: 438px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        float: none;
        background: var(--gradient-dark-hover);
        background-size: 205% auto;
        background-position: center left;

        &:hover {
          background-position: center right;
        }
      }
    }
  }

  .action.primary {
    height: 50px;
    border-radius: 50px;
    border: 0;
    font-size: 16px;
    font-weight: var(--bold);
    color: var(--brightness);
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    background: var(--gradient-dark-hover);
    background-size: 205% auto;
    background-position: center left;
    margin-bottom: 1rem;

    &:hover {
      background-position: center right;
    }
  }
}


/* Container login school*/

.block-login-school {
  width: 50%;
  padding: 46px 68px;
  border-radius: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .image {
    width: 50%;
    margin-top: 5%;
  }
}

.form.forget {
  .action.primary {
    background: var(--gradient-dark-hover);
    background-size: 205% auto !important;
    background-position: center left;
    color: var(--brightness) !important;
    font-size: 14px;
    font-weight: var(--bold);
    border: 0;
    box-shadow: none;
    border-radius: 57px;
    height: 57px;
    z-index: 1;
    position: relative;
    padding: 0 2rem;

    &:hover {
      background-position: center right;
    }
  }
}

.popup-authentication {
  .block-customer-login {
    display: flex;
    left: 0;
    top: 0;
    box-shadow: none;

    .primary.action-login {
      color: #fff;
      border: none;
      width: 100px!important;
    }
  }
}