.product-info-main .box-tocart .field.qty, .product-options-bottom .box-tocart .field.qty {
  display: block !important;
}
.product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions {
  padding-top: 0 !important;
}

.product.data.items {
  border: 0;
  margin: 0 !important;

  .item.title a:after {
    display: none;
  }
}